
*.pcm

MyPhotoBrowse/Build/ModuleCache/1QY6SFDTBR600/modules.idx

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/assetcatalog_generated_info.plist

*.idx

MyPhotoBrowse/Build/ModuleCache/modules.timestamp

*.hmap

*.txt

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/build-state.dat

*.dat

*.dep

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/main.d

*.plist

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/main.dia

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/main.o

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/MyAppDelegate.d

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/MyAppDelegate.dia

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Intermediates/MyPhotoBrowse.build/Debug-iphonesimulator/MyPhotoBrowse.build/Objects-normal/i386/MyAppDelegate.o

MyPhotoBrowse/Build/MyPhotoBrowse/Index/PrecompiledHeaders/MyPhotoBrowse-Prefix-hjounoqagntxpcbgknvlalkrrike_ast/MyPhotoBrowse-Prefix.pch.pch

*.hash-criteria

*.target

*.strings-sym

*.LinkFileList

*.d

*.dia

*.o

*.pch

MyPhotoBrowse/Build/MyPhotoBrowse/Build/Products/Debug-iphonesimulator/MyPhotoBrowse.app.dSYM/Contents/Resources/DWARF/MyPhotoBrowse

*.db

*.xcactivitylog
